efficientnet-pytorch==0.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.3
pretrainedmodels==0.7.4
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-probability==0.8.0
torch==1.2.0
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.4.0
tqdm==4.46.0
matplotlib==3.2.1
